<!DOCTYPE html>
    <html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="icon" href="/static/assets/logo.jpg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allura&family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.19.0/font/bootstrap-icons.css">
    <style>
        .nav-pills li a:hover{
            background-color:  #0275d8;
        }

    </style>
</head>
<body>
    <div class="container-fluid">
      <div class="row flex-wrap">
        <div class="bg-dark col-auto col-md-4 col-lg-3 min-vh-100">
          <div class="bg-dark">
            <a class="d-flex text-decoration-none align-items-center ">
                <span class="fs-3 d-none d-sm-inline border-bottom">ADMIN PANEL</span>
            </a>
            <ul class="nav nav-pills flex-column mt-4">
                <li class="nav-item">
                    <a href="/admindashboard" class="nav-link active">
                        <svg xmlns="http://www.w3.org/2000/svg"  height="50" width="30" viewBox="0 15 1798 1792" id="Dashboard"><path d="M384 1152q0-53-37.5-90.5T256 1024t-90.5 37.5T128 1152t37.5 90.5T256 1280t90.5-37.5T384 1152zm192-448q0-53-37.5-90.5T448 576t-90.5 37.5T320 704t37.5 90.5T448 832t90.5-37.5T576 704zm428 481 101-382q6-26-7.5-48.5T1059 725t-48 6.5-30 39.5l-101 382q-60 5-107 43.5t-63 98.5q-20 77 20 146t117 89 146-20 89-117q16-60-6-117t-72-91zm660-33q0-53-37.5-90.5T1536 1024t-90.5 37.5-37.5 90.5 37.5 90.5 90.5 37.5 90.5-37.5 37.5-90.5zm-640-640q0-53-37.5-90.5T896 384t-90.5 37.5T768 512t37.5 90.5T896 640t90.5-37.5T1024 512zm448 192q0-53-37.5-90.5T1344 576t-90.5 37.5T1216 704t37.5 90.5T1344 832t90.5-37.5T1472 704zm320 448q0 261-141 483-19 29-54 29H195q-35 0-54-29Q0 1414 0 1152q0-182 71-348t191-286 286-191 348-71 348 71 286 191 191 286 71 348z" fill="#ffffff" class="color000000 svgShape"/></svg><span class="fs-5 ms-3 d-none d-sm-inline">
                            DASHBOARD</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/adminorders" class="nav-link text-white">
                      <svg xmlns="http://www.w3.org/2000/svg" height="35" width="30" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#ffffff" height="800px" width="800px" version="1.1" viewBox="0 0 512 512" enable-background="new 0 0 512 512" stroke="#ffffff" stroke-width="0.00512">
  
                          <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                          
                          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                          
                          <g id="SVGRepo_iconCarrier"> <g> <g> <path d="m464.5,301.1l36.5-178h-359.7l-12.5-59.2-108.4-52.9-9.4,18.7 99,47.8 50,238.8h289c0,0 28.5,17.9 17.5,40.5-4.9,7-12.5,15.6-26.1,15.6h-287.6v20.6h287.7c19.8,0 36.5-10.4 45.9-27 18.4-34.4-21.9-64.9-21.9-64.9zm-286.7-5.7l-32.3-151.6h330.5l-31.3,151.6h-266.9z"/> <path d="m212.2,422.1c-21.9,0-39.6,17.6-39.6,39.4s17.7,39.4 39.6,39.4 39.6-17.6 39.6-39.4-17.7-39.4-39.6-39.4zm0,58.1c-10.4,0-18.8-8.3-18.8-18.7s8.3-18.7 18.8-18.7 18.8,8.3 18.8,18.7-8.4,18.7-18.8,18.7z"/> <path d="m424.9,422.1c-21.9,0-39.6,17.6-39.6,39.4s17.7,39.5 39.6,39.5 40.7-17.6 39.6-39.4c0-21.8-17.7-39.5-39.6-39.5zm18.8,39.5c0,10.4-8.3,18.7-18.8,18.7s-18.8-8.3-18.8-18.7 8.3-18.7 18.8-18.7 19.8,8.3 18.8,18.7z"/> </g> </g> </g>
                          
                          </svg><span class="fs-5 ms-3 d-none d-sm-inline">
                            ORDERS</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/adminproducts" class="nav-link text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" height="50" width="30" class="svg-icon" style="vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1"><path d="M913.843134 302.744115c0.008186-4.178159-0.989537-8.40953-3.281743-12.260232l-117.731378-149.655462c-4.318352-7.242961-12.135388-11.685133-20.570501-11.685133l-117.731378 0-159.635767 0-245.439992 0c-8.43409 0-16.251126 4.442172-20.569478 11.685133l-117.731378 149.655462c-2.292206 3.850701-3.289929 8.082072-3.281743 12.260232l-0.094144 0 0 501.982856c0 49.231261 37.851073 87.799672 86.147032 87.799672l300.969703 0 159.635767 0 173.262112 0c48.295959 0 86.146009-38.568411 86.146009-87.799672l0-501.982856L913.843134 302.744115zM758.658749 177.034019l102.034884 125.710097L526.81952 302.744115 526.81952 177.034019l127.708614 0L758.658749 177.034019zM263.055185 177.034019l231.837182 0 0 125.710097L161.018254 302.744115 263.055185 177.034019zM827.790246 844.63489 654.528134 844.63489l-159.635767 0L193.922664 844.63489c-21.450545 0-38.256302-17.531282-38.256302-39.908942l0-454.092126 710.379163 0 0 454.092126C866.045525 827.103608 849.240791 844.63489 827.790246 844.63489z"/></svg><span class="fs-5 ms-3 d-none d-sm-inline">
                            PRODUCTS</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="adminusers" class="nav-link text-white">
                        <svg xmlns="http://www.w3.org/2000/svg"  height="50" width="30" class="svg-icon" style="vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1"><path d="M843.282963 870.115556c-8.438519-140.515556-104.296296-257.422222-233.908148-297.14963C687.881481 536.272593 742.4 456.533333 742.4 364.088889c0-127.241481-103.158519-230.4-230.4-230.4S281.6 236.847407 281.6 364.088889c0 92.444444 54.518519 172.183704 133.12 208.877037-129.611852 39.727407-225.46963 156.634074-233.908148 297.14963-0.663704 10.903704 7.964444 20.195556 18.962963 20.195556l0 0c9.955556 0 18.299259-7.774815 18.962963-17.73037C227.745185 718.506667 355.65037 596.385185 512 596.385185s284.254815 122.121481 293.357037 276.195556c0.568889 9.955556 8.912593 17.73037 18.962963 17.73037C835.318519 890.311111 843.946667 881.019259 843.282963 870.115556zM319.525926 364.088889c0-106.287407 86.186667-192.474074 192.474074-192.474074s192.474074 86.186667 192.474074 192.474074c0 106.287407-86.186667 192.474074-192.474074 192.474074S319.525926 470.376296 319.525926 364.088889z"/></svg><span class="fs-5 ms-3 d-none d-sm-inline">
                            CUSTOMERS</span>
                    </a>
                </li>
                <li class="nav-item">
                  <a href="/adminsalesreport/day" class="nav-link text-white">
                      <svg xmlns="http://www.w3.org/2000/svg" height="50" width="30" viewBox="0 0 1024 1024" class="icon" version="1.1" fill="#000000">

                          <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                          
                          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                          
                          <g id="SVGRepo_iconCarrier">
                          
                          <path d="M585.1 640.1V823l164.6 91.4L914.3 823V640.1l-164.6-91.4-164.6 91.4z m256 139.9l-91.4 50.8-91.4-50.8v-96.8l91.4-50.8 91.4 50.8V780z" fill="#ffffff"/>
                          
                          <path d="M713.600676 737.454004a36.6 36.6 0 1 0 72.255718-11.719697 36.6 36.6 0 1 0-72.255718 11.719697Z" fill="#ffffff"/>
                          
                          <path d="M109.7 109.7v804.6h438.9v-73.2H182.9V182.9h658.3V512h73.1V109.7z" fill="#ffffff"/>
                          
                          <path d="M694.9 380.9v58H768V256H585.2v73.1h58L507.3 464.9l-109.7-73.1-167.4 167.5 51.7 51.7L407 485.9l109.7 73.2zM256 694.9h256V768H256z" fill="#ffffff"/>
                          
                          </g>
                          
                          </svg><span class="fs-5 ms-3 d-none d-sm-inline">
                          SALES REPORT</span>
                  </a>
              </li>
                <li class="nav-item">
                    <a href="/admcategory" class="nav-link text-white">
                      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="30" viewBox="0 0 24 24" fill="none" stroke="#ffffff">
  
                        <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                        
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                        
                        <g id="SVGRepo_iconCarrier"> <g id="Iconly/Curved/Category"> <g id="Category"> <path id="Stroke 1" fill-rule="evenodd" clip-rule="evenodd" d="M21.0003 6.6738C21.0003 8.7024 19.3551 10.3476 17.3265 10.3476C15.2979 10.3476 13.6536 8.7024 13.6536 6.6738C13.6536 4.6452 15.2979 3 17.3265 3C19.3551 3 21.0003 4.6452 21.0003 6.6738Z" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> <path id="Stroke 3" fill-rule="evenodd" clip-rule="evenodd" d="M10.3467 6.6738C10.3467 8.7024 8.7024 10.3476 6.6729 10.3476C4.6452 10.3476 3 8.7024 3 6.6738C3 4.6452 4.6452 3 6.6729 3C8.7024 3 10.3467 4.6452 10.3467 6.6738Z" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> <path id="Stroke 5" fill-rule="evenodd" clip-rule="evenodd" d="M21.0003 17.2619C21.0003 19.2905 19.3551 20.9348 17.3265 20.9348C15.2979 20.9348 13.6536 19.2905 13.6536 17.2619C13.6536 15.2333 15.2979 13.5881 17.3265 13.5881C19.3551 13.5881 21.0003 15.2333 21.0003 17.2619Z" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> <path id="Stroke 7" fill-rule="evenodd" clip-rule="evenodd" d="M10.3467 17.2619C10.3467 19.2905 8.7024 20.9348 6.6729 20.9348C4.6452 20.9348 3 19.2905 3 17.2619C3 15.2333 4.6452 13.5881 6.6729 13.5881C8.7024 13.5881 10.3467 15.2333 10.3467 17.2619Z" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </g> </g> </g><span class="fs-5 d-none d-sm-inline">
                        
                        </svg>
                            CATEGORY</span>
                    </a>
                </li>
                <li class="nav-item my-2">
                    <a href="/admincoupons" class="nav-link text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#ffffff" width="50" height="30" version="1.1" id="Layer_1" viewBox="0 0 300.005 300.005" xml:space="preserve">

                            <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                            
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                            
                            <g id="SVGRepo_iconCarrier"> <g> <g> <g> <path d="M150,0C67.159,0,0.002,67.159,0.002,150c0,82.838,67.157,150.005,149.997,150.005S300.003,232.841,300.003,150 C300,67.159,232.841,0,150,0z M213.129,195.303c0,2.944-3.359,5.428-7.33,5.428H75.523c-3.973,0-7.33-2.485-7.33-5.428v-63.295 c0-2.941,3.356-5.428,7.33-5.428h130.275c3.971,0,7.33,2.487,7.33,5.428V195.303z M239.065,169.361L239.065,169.361 c-0.001,2.944-3.36,5.431-7.331,5.431h-3.045v-42.785c0-11.573-10.268-20.99-22.891-20.99H94.13v-4.949 c0-2.941,3.356-5.428,7.33-5.428h130.275c3.971,0,7.33,2.487,7.33,5.428V169.361z"/> <path d="M139.345,158.206c-6.069-0.726-8.956-1.538-8.956-4.168c0-4.085,5.981-4.526,8.554-4.526 c3.802,0,8.004,1.831,9.366,4.082l0.599,0.993l8.948-4.142l-0.584-1.19c-3.081-6.3-8.525-8.23-12.758-9.018v-5.592h-10.463v5.561 c-9.028,1.434-14.376,6.544-14.376,13.832c0,12.029,11.246,13.285,18.682,14.115c6.57,0.778,9.762,2.404,9.762,4.972 c0,5.065-7.213,5.457-9.425,5.457c-4.977,0-9.765-2.456-11.137-5.714l-0.506-1.198l-9.703,4.113l0.511,1.196 c2.679,6.277,8.406,10.24,16.192,11.249v6.022h10.463v-6.323c7.496-0.954,14.688-5.773,14.688-14.804 C159.205,160.649,147.255,159.179,139.345,158.206z"/> </g> </g> </g> </g>
                            
                            </svg><span class="fs-5 ms-0 my-3 d-none d-sm-inline">
                            COUPON</span>
                    </a>
                </li>
                <li class="nav-item align-self-end">
                    <a href="/admlogout" class="nav-link">
                        <span class="fs-5 ms-3 d-none d-sm-inline">
                            LOGOUT</span>
                    </a>
                </li>
            </ul>
          </div>
        </div>
        <div class="col lg-8">
          <div class="float-end">
            <a href="/homepage" class="d-inline-flex link-body-emphasis text-decoration-none fs-2 fst-italic fst-bold fw-bolder" style="font-family: Allura, cursive;
            font-weight: 500;"> G Times
            </a>
            <img src="/static/assets/g-times-high-resolution-logo-transparent.png" style="width: 70px; height: 65px;" class="mx-2 img-fluid">
           </div>
          <h2 class="mb-4" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">DASHBOARD</h2>
         
        
            <div class="container mt-5">
              <div class="row row-cols-1 row-cols-md-3 g-3 justify-content-center">
                

                <div class="col">
                  <div class="card h-60 border border-secondary rounded-5 mx-md-3">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <h3 class="fs-4 ">Total Products: <%= totalProducts %></h3>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card h-60 border border-secondary rounded-5 mx-md-3">
                    <div class="card-body d-flex align-items-center justify-content-center">
                      <h3 class="fs-4" id="totalGrossDisplay">Total Gross: <%= totalGross %></h3>
                    </div>
                  </div>
                </div>
            
                <div class="col">
                  <div class="card h-60 border border-secondary rounded-5 mx-md-3">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <h3 class="fs-4 ">Total Orders Recieved: <%= totalOrders %></h3>
                    </div>
                  </div>
                </div>


              </div>
            </div>


        
        <div class="col lg-8 mt-5" style="height: 300px;">
        <canvas id="salesChart" width="300" height="100"></canvas>
      </div>
    
        <div class="row lg-8 mt-2">
        <div class="col lg-2 mt-5" style="height: 300px;">
        <canvas id="menChart" width="400" height="400"></canvas>
        </div>
        <div class="col lg-2 mt-5" style="height: 300px;">
        <canvas id="womenChart" width="400" height="400"></canvas>
        </div>
        <div class="col lg-2 mt-5" style="height: 300px;">
          <canvas id="smartChart" width="400" height="400"></canvas>
          </div>
  
        
      </div>
    </div> 
     
      </div>
      </div>
        
        
   
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>      
        <script>

          
       
      function formatNumberWithIndianCommas(number) {
    return number.toLocaleString('en-IN');
  }

  window.onload = function() {
    var totalGrossElement = document.getElementById('totalGrossDisplay');
    var totalGrossValue = parseInt('<%= totalGross %>'); // Ensure it's a number

    if (!isNaN(totalGrossValue)) {
      totalGrossElement.textContent = 'Total Gross: ' + formatNumberWithIndianCommas(totalGrossValue);
    }
  };
          document.addEventListener('DOMContentLoaded', async function () {
              try {
                  const response = await fetch('/monthly-sales');
                  const data = await response.json();
  
                  // Array to store month names
                const monthNames = [
                    'January', 'February', 'March', 'April', 'May', 'June',
                    'July', 'August', 'September', 'October', 'November', 'December'
                ];

                // Map the data to get labels with month names
                const labels = data.map(entry => {
                const date = new Date(`${entry._id.year}-${entry._id.month}-01`);
                const monthName = monthNames[date.getMonth()];
                return `${monthName} ${entry._id.year}`;
              });

              // Remove the first label from the array
            //   labels.shift();

              const salesData = data.map(entry => entry.totalSales);
              // Remove the first data point if you remove the first label
            //   salesData.shift();


                  const ctx = document.getElementById('salesChart').getContext('2d');
                  const myChart = new Chart(ctx, {
                      type: 'bar',
                      data: {
                          labels: labels,
                          datasets: [
                              {
                                  label: 'Monthly Sales',
                                  data: salesData,
                                  backgroundColor: 'rgba(54, 162, 235, 0.7)',
                                  borderColor: 'rgba(54, 162, 235, 1)',
                                  borderWidth: 2,
                                  hoverBackgroundColor: 'rgba(54, 162, 235, 0.9)',
                                  hoverBorderColor: 'rgba(54, 162, 235, 1)',
                              },
                          ],
                      },
              options: {
                  scales: {
                      y: {
                          beginAtZero: true,
                          grid: {
                              display: true,
                              color: 'rgba(0, 0, 0, 0.1)',
                             
                          },
                          title:{
                            display: true,
                            text: "Sales",
                            font:{
                               weight:'bold',
                               size: 14
                            }
                          }
                      },
                      x: {
                          grid: {
                              display: false,
                              text: "Months"
                          },
                          title:{
                            display: true,
                            text: "Months",
                            font:{
                               weight:'bold',
                               size: 14
                            }
                          },
                      },
                  },
                  plugins: {
                      legend: {
                          display: true,
                          position: 'top',
                          labels: {
                              color: 'rgba(0, 0, 0, 0.8)',
                          },
                      },
                      title: {
                          display: true,
                          text: 'Monthly Sales Report',
                          color: 'rgba(0, 0, 0, 0.9)',
                          font: {
                              size: 16,
                              weight: 'bold',
                          },
                      },
                  },
                  responsive: true,
                  maintainAspectRatio: false,
              },
            });

            const menSales = <%= JSON.stringify(menSales) %>;
            const ctx1 = document.getElementById('menChart').getContext('2d');
            const menChart = new Chart(ctx1, {
                    type: 'line',
                    data: {
                        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                        datasets: [{
                            label: 'Men Sales',
                            data: menSales,
                            backgroundColor: 'blue',
                            borderColor: 'blue',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });

            const womenSales = <%= JSON.stringify(womenSales) %>;
            const ctx2 = document.getElementById('womenChart').getContext('2d');
            const womenChart = new Chart(ctx2, {
                    type: 'line',
                    data: {
                        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                        datasets: [{
                            label: 'Women Sales',
                            data: womenSales,
                            backgroundColor: 'pink',
                            borderColor: 'pink',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });

            const smartSales = <%= JSON.stringify(smartSales) %>;
            const ctx3 = document.getElementById('smartChart').getContext('2d');
            const smartChart = new Chart(ctx3, {
                    type: 'line',
                    data: {
                        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                        datasets: [{
                            label: 'Smart Sales',
                            data: smartSales,
                            backgroundColor: 'green',
                            borderColor: 'green',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
    
    // Render Smart Chart
   
        }catch {
          console.error('An error occurred:');
          // console.log(Data)
          // Handle error appropriately
         }
          });
         
          </script>
       
        

</body>
</html>