<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit user</title>
    <link rel="icon" href="/static/assets/logo.jpg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allura&family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
   
   
</head>
<body>
    <div class="d-flex justify-content-end ">
        <div class="float-end">
         <a href="/homepage" class="d-inline-flex link-body-emphasis text-decoration-none fs-2 fst-italic fst-bold fw-bolder" style="font-family: Allura, cursive;
         font-weight: 500;"> G Times
         </a>
         <img src="/static/assets/g-times-high-resolution-logo-transparent.png" style="width: 70px; height: 65px;" class="mx-2 img-fluid">
        </div>
     </div>
    
     <div class="d-flex justify-content-center" style="margin-top: 10px;">
        <h1>EDIT USERS</h1>
    </div>

   <form action="/edituser/<%= users._id %>" method="POST">
    <div class="container d-flex justify-content-center" style="margin-top: 30px;">
    <div class="row justify-content-center">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" name="firstname" value="<%= users.firstname%>" required>
            <label for="floatingInput">Firstname</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingPassword" name="secondname" value="<%= users.secondname%>" required>
            <label for="floatingInput">Secondname</label>
          </div>
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingPassword" name="email" value="<%= users.email%>" disabled>
            <label for="floatingInput">Email</label>
          </div>
          <div class="form-floating  mb-3">
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="isBlocked" value="<%= users.isBlocked%>" required>
              <option value="Blocked">Block</option>
              <option value="Not blocked">Unblock</option>
            </select>
            <label for="floatingSelect">Control the Visibility</label>
          </div>
          <button type="submit" class="btn btn-primary" style="width: min-content;">Submit</button>

          </div>
          </div>
          </form>

          </body>
          </html>