<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Wallet</title>
    <link rel="icon" href="/static/assets/logo.jpg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allura&family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.17.0/font/bootstrap-icons.css" rel="stylesheet">
    <style>
      /* Add custom CSS for hover effect */
      .img-fluid:hover {
          transition: box-shadow 0.3s ease-in-out;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }
      .nav-pills li a:hover{
            background-color:  #0275d8;
        }
  </style>
  </head>
<body style="background-color: #dedcdc; margin: 0; padding: 0;">


  <div class="container-fluid bg-white">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3   border-bottom">
      <div class="col-md-3 mb-2 mb-md-0 mx-3 my-0">
        <img src="/static/assets/g-times-high-resolution-logo-transparent.png" style="width: 70px; height: 65px;" class="mx-2">
        <a href="/homepage" class="d-inline-flex link-body-emphasis text-decoration-none fs-2 fst-italic fst-bold fw-bolder" style="font-family: Allura, cursive;
        font-weight: 500;"> G Times
        </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/mens" class="nav-link px-2 text-success fw-semibold">MEN</a></li>
        <li><a href="/womens" class="nav-link px-5 text-success  fw-semibold">WOMEN</a></li>
        <li><a href="/smart" class="nav-link px-2 text-success  fw-semibold">SMART</a></li>
      </ul>

       
      
      <div class="col-md-3 text-end d-flex align-items-center justify-content-end">
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" width="50" height="42" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"/></svg>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/login">Login/Signup</a></li>
            <li><a class="dropdown-item" href="/userprof">My Profile</a></li>
            <li><a class="dropdown-item" href="/user/vieworder">Your Orders</a></li>
            <% if (locals.user) { %>
            <li><a class="dropdown-item" href="/logout" onclick="alert('Logout successfully')">Logout</a></li>
            <% } %>
          </ul>
        </div>
          <a href="/viewwishlist"><svg xmlns="http://www.w3.org/2000/svg" fill="#000000" width="50" height="42" viewBox="0 0 24 24"><path d="M20.808,11.079C19.829,16.132,12,20.5,12,20.5s-7.829-4.368-8.808-9.421C2.227,6.1,5.066,3.5,8,3.5a4.444,4.444,0,0,1,4,2,4.444,4.444,0,0,1,4-2C18.934,3.5,21.773,6.1,20.808,11.079Z"/></svg></a>
          <a href="/user/user_cart"><svg xmlns="http://www.w3.org/2000/svg" fill="#000000" width="50" height="42" viewBox="0 0 24 24"><path d="M8,3V7H21l-2,7H8v2H18a1,1,0,0,1,0,2H7a1,1,0,0,1-1-1V4H4A1,1,0,0,1,4,2H7A1,1,0,0,1,8,3ZM6,20.5A1.5,1.5,0,1,0,7.5,19,1.5,1.5,0,0,0,6,20.5Zm9,0A1.5,1.5,0,1,0,16.5,19,1.5,1.5,0,0,0,15,20.5Z"/></svg></a>
        <% if (locals.user)  { %>  
        <p class="text-primary">Hello <span> <%= user.firstname %> </span></p>
        <% } %>
      </div>
    </header>
  </div>

  <div class="container-fluid">
    <div class="row flex-wrap">
      <div class="bg-dark pt-3 col-auto col-md-4 col-lg-3 min-vh-100">
        <div class="bg-dark">
          
          <ul class="nav nav-pills flex-column mt-4">
              <li class="nav-item align-items-center">
                  <a href="/userprof" class="nav-link text-white">
                     <svg  xmlns="http://www.w3.org/2000/svg" height="35" width="30" viewBox="0 5 32.236 32" id="House" ><path d="M1.656 17.756 16 5.324l14.344 12.432a1.001 1.001 0 0 0 1.312-1.512l-15-13a1 1 0 0 0-1.31 0L10 7.876V6a2 2 0 0 0-4 0v5.342L.344 16.244a1.003 1.003 0 0 0-.1 1.412c.364.416.994.462 1.412.1zM12 22h8v10h6a2 2 0 0 0 2-2v-9.802c0-.6-.268-1.166-.732-1.546l-10-8.198a1.996 1.996 0 0 0-2.536 0l-10 8.198A1.993 1.993 0 0 0 4 20.198V30a2 2 0 0 0 2 2h6V22z" fill="#ffffff" class="color000000 svgShape"/></svg><span class="fs-5 ms-3 d-none d-sm-inline">
                          HOME</span>
                  </a>
              </li>
             
              <li class="nav-item">
                  <a href="/user/vieworder" class="nav-link text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" height="35" width="30" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#ffffff" height="800px" width="800px" version="1.1" viewBox="0 0 512 512" enable-background="new 0 0 512 512" stroke="#ffffff" stroke-width="0.00512">

                        <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                        
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                        
                        <g id="SVGRepo_iconCarrier"> <g> <g> <path d="m464.5,301.1l36.5-178h-359.7l-12.5-59.2-108.4-52.9-9.4,18.7 99,47.8 50,238.8h289c0,0 28.5,17.9 17.5,40.5-4.9,7-12.5,15.6-26.1,15.6h-287.6v20.6h287.7c19.8,0 36.5-10.4 45.9-27 18.4-34.4-21.9-64.9-21.9-64.9zm-286.7-5.7l-32.3-151.6h330.5l-31.3,151.6h-266.9z"/> <path d="m212.2,422.1c-21.9,0-39.6,17.6-39.6,39.4s17.7,39.4 39.6,39.4 39.6-17.6 39.6-39.4-17.7-39.4-39.6-39.4zm0,58.1c-10.4,0-18.8-8.3-18.8-18.7s8.3-18.7 18.8-18.7 18.8,8.3 18.8,18.7-8.4,18.7-18.8,18.7z"/> <path d="m424.9,422.1c-21.9,0-39.6,17.6-39.6,39.4s17.7,39.5 39.6,39.5 40.7-17.6 39.6-39.4c0-21.8-17.7-39.5-39.6-39.5zm18.8,39.5c0,10.4-8.3,18.7-18.8,18.7s-18.8-8.3-18.8-18.7 8.3-18.7 18.8-18.7 19.8,8.3 18.8,18.7z"/> </g> </g> </g>
                        
                        </svg><span class="fs-5 ms-3 d-none d-sm-inline">
                          VIEW ORDERS</span>
                  </a>
              </li>
              
              </li>
              <li class="nav-item">
                  <a href="/viewwishlist" class="nav-link text-white">
                    <svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" height="35" width="30" stroke-width="3" stroke="#ffffff" fill="none"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M9.06,25C7.68,17.3,12.78,10.63,20.73,10c7-.55,10.47,7.93,11.17,9.55a.13.13,0,0,0,.25,0c3.25-8.91,9.17-9.29,11.25-9.5C49,9.45,56.51,13.78,55,23.87c-2.16,14-23.12,29.81-23.12,29.81S11.79,40.05,9.06,25Z"></path></g></svg>
                    <span class="fs-5 ms-3 d-none d-sm-inline">WISHLIST</span>
                  </a>
              </li>
              <li class="nav-item align-items-center ">
                <a href="/mywallet" class="nav-link active">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#ffffff" version="1.1" id="Capa_1" height="35" width="30" viewBox="0 0 969.486 969.486" xml:space="preserve" stroke="#ffffff">

                    <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                    
                     <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                    
                    <g id="SVGRepo_iconCarrier"> <g> <g> <path d="M806.582,235.309L766.137,87.125l-137.434,37.51L571.451,9.072L114.798,235.309H0v725.105h907.137V764.973h62.35v-337.53 h-62.352V235.309H806.582z M718.441,170.63l17.654,64.68h-52.561h-75.887h-126.19l111.159-30.339l66.848-18.245L718.441,170.63z M839.135,892.414H68V522.062v-129.13v-10.233v-69.787v-9.602h35.181h27.538h101.592h409.025h75.889h37.43h35.242h35.244h13.994 v51.272v72.86h-15.357h-35.244h-87.85H547.508h-55.217v27.356v75.888v8.758v35.244v35.244v155.039h346.846v127.441H839.135z M901.486,696.973h-28.352h-34H560.291V591.375v-35.244v-35.244v-23.889v-1.555h3.139h90.086h129.129h56.492h34h4.445h23.904 V696.973z M540.707,100.191l21.15,42.688l-238.955,65.218L540.707,100.191z"/> <polygon points="614.146,564.57 614.146,576.676 614.146,631.152 680.73,631.152 680.73,564.57 658.498,564.57 "/> </g> </g> </g>
                    
                    </svg><span class="fs-5 ms-3 d-none d-sm-inline">
                        MY WALLET</span>
                </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col">
        <h1 class="text-center m-3" style="font-family: Allura, cursive;
        font-weight: 500;">My Wallet</h1>
        <h5 class="text-start m-2 mt-4">Available Balance : ₹<%= user.wallet %></h5>
        <% if (user.wallethistory) { %>
            <table class="table table-striped">
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Transaction ID</th>
                    <th>Amount</th>
                    <th>Date of transaction</th>
                    <th>Status</th>
                   
                </tr>
            </thead>
            <tbody>
              
                    <% user.wallethistory.forEach((transaction, index) => { %>
                        <tr>
                            <td><%= index + 1 %></td>
                            <td><%= transaction._id %></td>
                            <td><%= transaction.amount %></td>
                            <td><%= transaction.date %></td>
                            <td style="color: <%= transaction.status === 'Credited' ? 'green' : 'red' %>;"><%= transaction.status %></td>
                        </tr>
                    <% }); %>
                
            </tbody>
        </table>
        <% } else { %>
            <h2 class="text-center text-secondary mt-5">Wallet History not found!</h2>
         <% } %>
       
      </div>
    
         </div>
         </div>
         
   
         <footer class="container-fluid  text-white p-5 " style="background-color: rgb(41, 7, 7);">
          <div class="row">
            <div class="col-6 col-md-2 mb-3">
              <h5>Section</h5>
              <ul class="nav flex-column text-white">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">About</a></li>
              </ul>
            </div>
      
            <div class="col-6 col-md-2 mb-3">
              <h5>Section</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">About</a></li>
              </ul>
            </div>
      
            <div class="col-6 col-md-2 mb-3">
              <h5>Section</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">About</a></li>
              </ul>
            </div>
      
            <div class="col-md-5 offset-md-1 mb-3">
              <form>
                <h5>Subscribe to our newsletter</h5>
                <p>Monthly digest of what's new and exciting from us.</p>
                <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                  <label for="newsletter1" class="visually-hidden">Email address</label>
                  <input id="newsletter1" type="text" class="form-control" placeholder="Email address" fdprocessedid="xn0sb">
                  <button class="btn btn-primary" type="button" fdprocessedid="qtzvz">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
      
          <div class="d-flex flex-column flex-sm-row justify-content-between py-4 border-top">
            <p>© 2023 Company, Inc. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
              <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
              <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
              <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
            </ul>
          </div>
        </footer>

 



  <script src="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.17.0/dist/js/bootstrap-icons.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script>
    
    function validateAddress() {
    var inputs = document.getElementsByTagName('input');

    var spaceError = document.getElementById('spaceError');
    spaceError.style.display = 'none'; // Hide error initially

    // Check each input field for leading spaces
    for (var i = 0; i < inputs.length; i++) {
        var inputValue = inputs[i].value.trim(); // Remove leading and trailing whitespaces
        // Check if the input value has leading spaces
        if (inputValue !== '' && inputValue.charAt(0) === ' ') {
            spaceError.style.display = 'block';
            return false; // Return false if any input has leading spaces
        }
    }

    return true; // Form submission allowed if no input has leading spaces
}

  </script>
  </body>
  </html>