<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel="icon" href="/static/assets/logo.jpg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allura&family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.17.0/font/bootstrap-icons.css" rel="stylesheet">
    <style>
      /* Add custom CSS for hover effect */
      .img-fluid:hover {
          transition: box-shadow 0.3s ease-in-out;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }
      .nav-pills li a:hover{
            background-color:  #0275d8;
        }
  </style>
  </head>
<body style="background-color: #dedcdc; margin: 0; padding: 0;">


  <div class="container-fluid bg-white">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3   border-bottom">
      <div class="col-md-3 mb-2 mb-md-0 mx-3 my-0">
        <img src="/static/assets/g-times-high-resolution-logo-transparent.png" style="width: 70px; height: 65px;" class="mx-2">
        <a href="/homepage" class="d-inline-flex link-body-emphasis text-decoration-none fs-2 fst-italic fst-bold fw-bolder" style="font-family: Allura, cursive;
        font-weight: 500;"> G Times
        </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/mens" class="nav-link px-2 text-success fw-semibold">MEN</a></li>
        <li><a href="/womens" class="nav-link px-5 text-success  fw-semibold">WOMEN</a></li>
        <li><a href="/smart" class="nav-link px-2 text-success  fw-semibold">SMART</a></li>
      </ul>

       
      
      <div class="col-md-3 text-end d-flex align-items-center justify-content-end">
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" width="50" height="42" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"/></svg>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/login">Login/Signup</a></li>
            <li><a class="dropdown-item" href="/userprof">My Profile</a></li>
            <li><a class="dropdown-item" href="/user/vieworder">Your Orders</a></li>
            <li><a class="dropdown-item" href="/logout" onclick="alert('Logout successfully')">Logout</a></li>
          </ul>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" width="50" height="42" viewBox="0 0 24 24"><path d="M20.808,11.079C19.829,16.132,12,20.5,12,20.5s-7.829-4.368-8.808-9.421C2.227,6.1,5.066,3.5,8,3.5a4.444,4.444,0,0,1,4,2,4.444,4.444,0,0,1,4-2C18.934,3.5,21.773,6.1,20.808,11.079Z"/></svg>
        <a href="/user/user_cart"><svg xmlns="http://www.w3.org/2000/svg" fill="#000000" width="50" height="42" viewBox="0 0 24 24"><path d="M8,3V7H21l-2,7H8v2H18a1,1,0,0,1,0,2H7a1,1,0,0,1-1-1V4H4A1,1,0,0,1,4,2H7A1,1,0,0,1,8,3ZM6,20.5A1.5,1.5,0,1,0,7.5,19,1.5,1.5,0,0,0,6,20.5Zm9,0A1.5,1.5,0,1,0,16.5,19,1.5,1.5,0,0,0,15,20.5Z"/></svg></a>
        <% if (locals.user) { %>
        <p class="text-primary">Hello <span> <%= user %> </span></p>
        <% } %>
      </div>
    </header>
  </div>

  <div class="container-fluid">
    <div class="row flex-wrap">
      <div class="bg-dark pt-3 col-auto col-md-4 col-lg-3 min-vh-100">
        <div class="bg-dark">
          <a class="d-flex text-decoration-none align-items-center ">
              <span class="fs-3 d-none d-sm-inline border-bottom">USER PANEL</span>
          </a>
          <ul class="nav nav-pills flex-column mt-4">
              <li class="nav-item align-items-center">
                  <a href="/adminhome" class="nav-link active">
                     <svg  xmlns="http://www.w3.org/2000/svg" height="35" width="30" viewBox="0 5 32.236 32" id="House" ><path d="M1.656 17.756 16 5.324l14.344 12.432a1.001 1.001 0 0 0 1.312-1.512l-15-13a1 1 0 0 0-1.31 0L10 7.876V6a2 2 0 0 0-4 0v5.342L.344 16.244a1.003 1.003 0 0 0-.1 1.412c.364.416.994.462 1.412.1zM12 22h8v10h6a2 2 0 0 0 2-2v-9.802c0-.6-.268-1.166-.732-1.546l-10-8.198a1.996 1.996 0 0 0-2.536 0l-10 8.198A1.993 1.993 0 0 0 4 20.198V30a2 2 0 0 0 2 2h6V22z" fill="#ffffff" class="color000000 svgShape"/></svg><span class="fs-5 ms-3 d-none d-sm-inline">
                          HOME</span>
                  </a>
              </li>
             
              <li class="nav-item">
                  <a href="/user/vieworder" class="nav-link text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" height="35" width="30" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#ffffff" height="800px" width="800px" version="1.1" viewBox="0 0 512 512" enable-background="new 0 0 512 512" stroke="#ffffff" stroke-width="0.00512">

                        <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                        
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                        
                        <g id="SVGRepo_iconCarrier"> <g> <g> <path d="m464.5,301.1l36.5-178h-359.7l-12.5-59.2-108.4-52.9-9.4,18.7 99,47.8 50,238.8h289c0,0 28.5,17.9 17.5,40.5-4.9,7-12.5,15.6-26.1,15.6h-287.6v20.6h287.7c19.8,0 36.5-10.4 45.9-27 18.4-34.4-21.9-64.9-21.9-64.9zm-286.7-5.7l-32.3-151.6h330.5l-31.3,151.6h-266.9z"/> <path d="m212.2,422.1c-21.9,0-39.6,17.6-39.6,39.4s17.7,39.4 39.6,39.4 39.6-17.6 39.6-39.4-17.7-39.4-39.6-39.4zm0,58.1c-10.4,0-18.8-8.3-18.8-18.7s8.3-18.7 18.8-18.7 18.8,8.3 18.8,18.7-8.4,18.7-18.8,18.7z"/> <path d="m424.9,422.1c-21.9,0-39.6,17.6-39.6,39.4s17.7,39.5 39.6,39.5 40.7-17.6 39.6-39.4c0-21.8-17.7-39.5-39.6-39.5zm18.8,39.5c0,10.4-8.3,18.7-18.8,18.7s-18.8-8.3-18.8-18.7 8.3-18.7 18.8-18.7 19.8,8.3 18.8,18.7z"/> </g> </g> </g>
                        
                        </svg><span class="fs-5 ms-3 d-none d-sm-inline">
                          VIEW ORDERS</span>
                  </a>
              </li>
              
              </li>
              <li class="nav-item">
                  <a href="" class="nav-link text-white">
                    <svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" height="35" width="30" stroke-width="3" stroke="#ffffff" fill="none"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M9.06,25C7.68,17.3,12.78,10.63,20.73,10c7-.55,10.47,7.93,11.17,9.55a.13.13,0,0,0,.25,0c3.25-8.91,9.17-9.29,11.25-9.5C49,9.45,56.51,13.78,55,23.87c-2.16,14-23.12,29.81-23.12,29.81S11.79,40.05,9.06,25Z"></path></g></svg>
                    <span class="fs-5 ms-3 d-none d-sm-inline">WISHLIST</span>
                  </a>
              </li>
              <li class="nav-item align-items-center ">
                <a href="/mywallet" class="nav-link text-white">
                   <svg  xmlns="http://www.w3.org/2000/svg" height="35" width="30" viewBox="0 5 32.236 32" id="House" ><path d="M1.656 17.756 16 5.324l14.344 12.432a1.001 1.001 0 0 0 1.312-1.512l-15-13a1 1 0 0 0-1.31 0L10 7.876V6a2 2 0 0 0-4 0v5.342L.344 16.244a1.003 1.003 0 0 0-.1 1.412c.364.416.994.462 1.412.1zM12 22h8v10h6a2 2 0 0 0 2-2v-9.802c0-.6-.268-1.166-.732-1.546l-10-8.198a1.996 1.996 0 0 0-2.536 0l-10 8.198A1.993 1.993 0 0 0 4 20.198V30a2 2 0 0 0 2 2h6V22z" fill="#ffffff" class="color000000 svgShape"/></svg><span class="fs-5 ms-3 d-none d-sm-inline">
                        MY WALLET</span>
                </a>
            </li>
          </ul>
        </div>
      </div>

      
    

    <div class="col">

      <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
        <symbol id="check-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </symbol>
        <symbol id="info-fill" viewBox="0 0 16 16">
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
        </symbol>
        <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
      </svg>
      <% if (locals.message) { %>
        <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
          <svg class="bi flex-shrink-0 me-2 " height="35" width="30" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
          <div>
            <%= message %>
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% } %>
    

        <!-- <div class="fw-bold mt-3">
            <h2>My Profile</h2>
        </div>
 -->

        <div class="d-flex">
          <div class="col fw-bold mt-3">
            <h2>My Profile</h2>
        </div>
          <div class="col-end mt-3 fs-5 fw-bold"> <!-- Use ms-auto to push the email to the end of the container -->
             Wallet : <%= userData.wallet %>
          </div>
      </div>

        <div class="d-flex">
            <div class="col mt-3 fs-4">
                <p>Hello <span class="fst-italic"><%= user %></span>
                    <svg viewBox="-3 0 32 32" height="35" width="30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="icomoon-ignore"> </g> <path d="M12.8 3.2c-7.093 0-12.8 5.707-12.8 12.8s5.707 12.8 12.8 12.8c7.093 0 12.8-5.707 12.8-12.8s-5.707-12.8-12.8-12.8zM12.8 27.733c-6.453 0-11.733-5.28-11.733-11.733s5.28-11.733 11.733-11.733c6.453 0 11.733 5.28 11.733 11.733s-5.28 11.733-11.733 11.733z" fill="#000000"> </path> <path d="M19.467 19.040c-0.267-0.107-0.587-0.053-0.693 0.213-1.173 2.293-3.467 3.68-5.973 3.68-2.56 0-4.8-1.387-5.973-3.68-0.107-0.267-0.427-0.373-0.693-0.213-0.267 0.107-0.373 0.427-0.267 0.693 1.333 2.613 3.947 4.267 6.933 4.267 2.933 0 5.6-1.653 6.88-4.267 0.16-0.267 0.053-0.587-0.213-0.693z" fill="#000000"> </path> <path d="M10.133 13.333c0 0.884-0.716 1.6-1.6 1.6s-1.6-0.716-1.6-1.6c0-0.884 0.716-1.6 1.6-1.6s1.6 0.716 1.6 1.6z" fill="#000000"> </path> <path d="M18.667 13.333c0 0.884-0.716 1.6-1.6 1.6s-1.6-0.716-1.6-1.6c0-0.884 0.716-1.6 1.6-1.6s1.6 0.716 1.6 1.6z" fill="#000000"> </path> </g>
                        <!-- SVG content here -->
                    </svg>
                </p>
            </div>
            <div class="col-end mt-3 fs-5 fst-italic"> <!-- Use ms-auto to push the email to the end of the container -->
                <%= email %>
            </div>
        </div>
   
            <div class="container" style="margin-top: 100px;">
                <div class="row  row-cols-md-4 g-3 justify-content-center">
                  <div class="col">
                    <div class="card border border-secondary rounded-5 mx-md-3" style="height: 200px;">
                      <div class="card-body d-flex align-items-center justify-content-center">
                        
                          <!-- Your SVG code here -->
                          <svg xmlns="http://www.w3.org/2000/svg" version="1.0"  height="40" width="40" viewBox="0 0 1390.000000 1211.000000" preserveAspectRatio="xMidYMid meet">
                            <g transform="translate(0.000000,1211.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                            <path d="M253 12091 c-100 -34 -176 -103 -222 -201 -22 -46 -26 -69 -26 -140 1 -72 5 -94 30 -144 34 -73 96 -136 165 -171 58 -29 34 -25 1135 -209 380 -64 699 -118 710 -121 13 -3 27 -20 37 -47 9 -24 111 -284 228 -578 117 -294 279 -704 360 -910 81 -206 225 -571 320 -810 95 -239 239 -604 320 -810 81 -206 225 -571 320 -810 95 -239 239 -604 320 -810 277 -701 488 -1234 681 -1720 105 -267 192 -495 193 -507 1 -17 -89 -91 -434 -359 -239 -185 -471 -368 -515 -406 -252 -218 -417 -493 -465 -778 -18 -99 -16 -288 3 -376 23 -107 93 -237 203 -380 107 -138 264 -261 422 -330 40 -17 75 -34 77 -36 3 -2 -21 -12 -53 -22 -330 -103 -554 -453 -503 -786 25 -160 83 -278 195 -397 354 -377 977 -277 1197 192 102 219 88 464 -39 673 -46 76 -137 172 -209 219 -29 20 -52 37 -51 39 2 1 1231 -2 2733 -6 1502 -5 2897 -10 3100 -10 350 -1 369 -2 345 -18 -14 -9 -54 -44 -89 -77 -302 -284 -301 -756 2 -1042 355 -336 938 -236 1157 197 73 145 97 314 66 465 -20 97 -88 240 -149 314 -43 52 -144 141 -159 141 -5 0 -8 4 -8 9 0 6 128 11 323 13 370 3 371 4 471 98 77 72 110 150 111 255 0 71 -4 88 -32 146 -39 79 -102 140 -181 177 l-57 27 -1115 7 c-613 5 -2388 12 -3945 17 -2131 6 -2841 11 -2876 20 -164 42 -252 184 -221 353 15 84 81 215 142 281 27 30 348 287 714 571 l665 517 1078 85 c593 46 1881 147 2863 224 982 77 1927 152 2100 165 173 14 338 32 365 40 107 30 202 126 235 235 10 36 35 198 55 360 19 162 48 403 64 535 17 132 57 465 91 740 33 275 97 793 141 1150 43 358 98 801 120 985 26 211 39 353 35 385 -19 164 -164 297 -340 311 -34 2 -529 16 -1101 29 -572 14 -1218 29 -1435 35 -217 5 -578 14 -802 20 -225 5 -589 14 -810 20 -222 5 -587 15 -813 20 -956 24 -2866 70 -3315 80 -267 6 -513 13 -547 16 -61 5 -61 6 -78 47 -10 23 -84 211 -165 417 -82 206 -216 548 -300 760 -84 212 -215 545 -292 740 -76 195 -150 373 -163 396 -29 49 -90 106 -142 132 -61 31 38 13 -1324 242 -426 71 -795 130 -820 129 -24 0 -68 -8 -96 -18z m4322 -3415 l440 -11 3 -632 2 -633 -334 0 -334 0 -110 278 c-61 152 -174 439 -252 637 -78 198 -144 363 -147 368 -6 9 188 8 732 -7z m1405 -36 c212 -6 415 -10 452 -10 l68 0 0 -615 0 -615 -615 0 -615 0 0 631 0 630 163 -6 c89 -3 335 -10 547 -15z m1315 -30 c237 -6 490 -13 563 -16 l132 -6 0 -594 0 -594 -615 0 -615 0 0 610 0 610 53 0 c28 0 246 -4 482 -10z m2163 -56 c9 -3 12 -127 12 -579 l0 -575 -615 0 -615 0 0 593 0 592 602 -13 c332 -8 609 -15 616 -18z m975 -24 c208 -6 410 -10 448 -10 l69 0 0 -560 0 -560 -615 0 -615 0 0 575 0 576 168 -6 c92 -3 337 -10 545 -15z m1525 -36 c198 -5 282 -10 282 -18 0 -7 -29 -249 -65 -540 -36 -290 -65 -530 -65 -532 0 -2 -202 -4 -450 -4 l-450 0 0 557 0 556 233 -6 c127 -4 359 -10 515 -13z m-6938 -1914 l0 -571 -61 3 -61 3 -78 195 c-42 107 -141 357 -219 555 -79 198 -145 366 -148 373 -4 9 56 12 281 12 l286 0 0 -570z m1480 0 l0 -570 -615 0 -615 0 0 570 0 570 615 0 615 0 0 -570z m1488 3 l-3 -568 -612 -3 -613 -2 0 570 0 570 615 0 615 0 -2 -567z m1482 -3 l0 -570 -615 0 -615 0 0 570 0 570 615 0 615 0 0 -570z m1480 0 l0 -570 -615 0 -615 0 0 570 0 570 615 0 615 0 0 -570z m1125 538 c-3 -18 -32 -256 -65 -528 -33 -272 -62 -514 -65 -537 l-6 -43 -365 0 -364 0 0 570 0 570 435 0 436 0 -6 -32z m-7055 -1380 c0 -19 -2 -20 -10 -8 -13 19 -13 30 0 30 6 0 10 -10 10 -22z m1480 -568 l0 -590 -22 -4 c-13 -3 -212 -19 -443 -36 -231 -18 -445 -38 -475 -45 -30 -7 -56 -13 -56 -12 -1 1 -54 135 -118 297 l-116 296 0 342 0 342 615 0 615 0 0 -590z m1490 60 c0 -416 -3 -532 -12 -535 -14 -4 -1155 -95 -1198 -95 l-25 0 3 580 2 580 615 0 615 0 0 -530z m1480 56 l0 -474 -57 -6 c-32 -3 -294 -24 -583 -46 -289 -22 -540 -42 -557 -44 l-33 -5 0 525 0 524 615 0 615 0 0 -474z m1480 59 l0 -415 -22 -4 c-13 -3 -266 -23 -563 -46 -297 -23 -564 -44 -592 -47 l-53 -6 0 467 0 466 615 0 615 0 0 -415z m955 383 c-3 -18 -21 -166 -40 -328 -20 -162 -39 -320 -43 -350 l-7 -55 -260 -22 c-143 -12 -279 -22 -302 -22 l-43 -1 0 405 0 405 350 0 351 0 -6 -32z m-7441 -4616 c269 -126 337 -464 135 -677 -201 -212 -557 -164 -693 95 -125 238 2 530 263 606 28 8 81 12 137 10 78 -3 102 -8 158 -34z m6917 18 c157 -53 261 -174 291 -340 32 -169 -68 -362 -227 -441 -222 -109 -484 -21 -588 198 -30 64 -32 75 -32 178 0 103 2 114 31 176 54 114 134 185 253 226 86 29 189 30 272 3z"/>
                            <path d="M4203 934 c-158 -56 -201 -280 -74 -387 146 -122 371 -35 388 150 16 171 -149 295 -314 237z"/>
                            <path d="M11164 933 c-52 -23 -73 -39 -106 -83 -83 -110 -42 -271 83 -334 157 -78 339 29 339 199 0 54 -28 125 -63 163 -57 62 -176 87 -253 55z"/>
                            </g>
                            </svg>
                       
                        <div>
                          <h5 class="fs-4 text-body-emphasis">View Orders</h5>
                        </div>
                      </div>
                    </div>
                  </div>
              
                  <div class="col"  data-bs-toggle="modal" data-bs-target="#exampleModal1" style="cursor: pointer;">
                    <div class="card h-100 border border-secondary rounded-5 mx-md-3">
                      <div class="card-body d-flex align-items-center justify-content-center">
                        
                          <!-- Your SVG code here -->
                          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  height="35" width="35" fill="#000000" height="800px" width="800px" version="1.1" id="Capa_1" viewBox="0 0 348.882 348.882" xml:space="preserve">
                            <g>
                                <path d="M333.988,11.758l-0.42-0.383C325.538,4.04,315.129,0,304.258,0c-12.187,0-23.888,5.159-32.104,14.153L116.803,184.231   c-1.416,1.55-2.49,3.379-3.154,5.37l-18.267,54.762c-2.112,6.331-1.052,13.333,2.835,18.729c3.918,5.438,10.23,8.685,16.886,8.685   c0,0,0.001,0,0.001,0c2.879,0,5.693-0.592,8.362-1.76l52.89-23.138c1.923-0.841,3.648-2.076,5.063-3.626L336.771,73.176   C352.937,55.479,351.69,27.929,333.988,11.758z M130.381,234.247l10.719-32.134l0.904-0.99l20.316,18.556l-0.904,0.99   L130.381,234.247z M314.621,52.943L182.553,197.53l-20.316-18.556L294.305,34.386c2.583-2.828,6.118-4.386,9.954-4.386   c3.365,0,6.588,1.252,9.082,3.53l0.419,0.383C319.244,38.922,319.63,47.459,314.621,52.943z"/>
                                <path d="M303.85,138.388c-8.284,0-15,6.716-15,15v127.347c0,21.034-17.113,38.147-38.147,38.147H68.904   c-21.035,0-38.147-17.113-38.147-38.147V100.413c0-21.034,17.113-38.147,38.147-38.147h131.587c8.284,0,15-6.716,15-15   s-6.716-15-15-15H68.904c-37.577,0-68.147,30.571-68.147,68.147v180.321c0,37.576,30.571,68.147,68.147,68.147h181.798   c37.576,0,68.147-30.571,68.147-68.147V153.388C318.85,145.104,312.134,138.388,303.85,138.388z"/>
                            </g>
                            </svg>
                       
                        <div>
                          <h5 class="fs-4 text-body-emphasis">Edit Details</h5>
                        </div>
                      </div>
                    </div>
                  </div>

                  <%# modal %>
                  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit your details</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form action="/useredit" method="post">
                            <div class="form-floating mt-3">
                                <input type="text" class="form-control" id="floatingInput" placeholder="Firstname" pattern="^\S*$" title="Please avoid spaces" value="<%= userfst  %>" name="firstname" required>
                                <label for="floatingInput">Firstname</label>
                              </div>
                              <div class="form-floating mt-3">
                                <input type="text" class="form-control" id="floatingInput" placeholder="Second" pattern="^\S*$" title="Please avoid spaces" value="<%= usersec  %>" name="secondname" required>
                                <label for="floatingInput">Lastname</label>
                              </div>

                        </div>
                        <div class="modal-footer mt-3">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                      </div>
                    </div>
                  </div>
              
                  <div class="col">
                    <div class="card h-100 border border-secondary rounded-5 mx-md-3">
                      <div class="card-body d-flex align-items-center justify-content-center">
                        
                          <!-- Your SVG code here -->
                          <svg xmlns="http://www.w3.org/2000/svg"  height="40" width="40" viewBox="0 0 64 64" stroke-width="3" stroke="#000000" fill="none"><path d="M9.06,25C7.68,17.3,12.78,10.63,20.73,10c7-.55,10.47,7.93,11.17,9.55a.13.13,0,0,0,.25,0c3.25-8.91,9.17-9.29,11.25-9.5C49,9.45,56.51,13.78,55,23.87c-2.16,14-23.12,29.81-23.12,29.81S11.79,40.05,9.06,25Z"/></svg>
                       
                        <div>
                          <h5 class="fs-4 text-body-emphasis">Wishlist</h5>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col" data-bs-toggle="modal" data-bs-target="#exampleModal2" style="cursor: pointer;">
                    <div class="card h-100 border border-secondary rounded-5 mx-md-3" style="height: 200px;">
                      <div class="card-body d-flex align-items-center justify-content-center">
                        
                          <!-- Your SVG code here -->
                          <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" height="40" width="40" viewBox="0 0 100 100"><path d="M49,18.92A23.74,23.74,0,0,0,25.27,42.77c0,16.48,17,31.59,22.23,35.59a2.45,2.45,0,0,0,3.12,0c5.24-4.12,22.1-19.11,22.1-35.59A23.74,23.74,0,0,0,49,18.92Zm0,33.71a10,10,0,1,1,10-10A10,10,0,0,1,49,52.63Z"/></svg>
                       
                        <div>
                          <h5 class="fs-4 text-body-emphasis">Address</h5>
                        </div>
                      </div>
                    </div>
                  </div>

                  <%# modaltest %>

                  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit your Address</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                                ADD NEW ADDRESS
                              </button>
                              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal4">
                                EDIT YOUR ADDRESS
                              </button>
                      </div>
                    </div>
                  </div>
                  </div>







                   <%# modal for adding new address %>
                   <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit your Address</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form action="/addaddress" method="post" onsubmit="return validateAddress()">
                            <select class="form-select my-3" aria-label="Default select example" name="type" required>
                                <option selected>Choose the address type</option>
                                <option value="Home">Home</option>
                                <option value="Work">Work</option>
                                <option value="Other">Other</option>
                            </select>
                            <div class="form-group">
                                <label for="houseno">House Number:</label>
                                <input type="text" class="form-control" id="houseno" name="houseno" required>
                            </div>
                            <div class="form-group">
                                <label for="street">Street:</label>
                                <input type="text" class="form-control" id="street" name="street" required>
                            </div>
                            <div class="form-group">
                                <label for="city">City:</label>
                                <input type="text" class="form-control" id="city" name="city" required>
                            </div>
                            <div class="form-group">
                                <label for="state">State:</label>
                                <input type="text" class="form-control" id="state" name="state" required>
                            </div>
                            <div class="form-group">
                                <label for="pincode">Pincode:</label>
                                <input type="number" class="form-control" minlength="6" id="pincode" name="pincode" required>
                            </div>
                            <div id="spaceError" class="alter alert-success text-center" style="color: red; display: none;">
                              Provide proper address!
                          </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                      </div>
                    </div>
                  </div>
                  </div>
              
                  <%# modal for editing address %>
                  <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel4" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit your Address</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form action="/editaddress" method="post">
                            <% userData.address.forEach(address => { %>
                                <select class="form-select my-3" aria-label="Default select example" name="type" required>
                                    <option value="Home" <% if (address.type === 'Home') { %>selected<% } %>>Home</option>
                                    <option value="Work" <% if (address.type === 'Work') { %>selected<% } %>>Work</option>
                                    <option value="Other" <% if (address.type === 'Other') { %>selected<% } %>>Other</option>
                                </select>
                            
                            
                            <div class="form-group">
                                <label for="houseno">House Number:</label>
                                <input type="text" class="form-control" id="houseno" name="houseno" required value="<%= address.houseno %>">
                            </div>
                            <div class="form-group">
                                <label for="street">Street:</label>
                                <input type="text" class="form-control" id="street" name="street" required value="<%= address.street %>">
                            </div>
                            <div class="form-group">
                                <label for="city">City:</label>
                                <input type="text" class="form-control" id="city" name="city" required value="<%= address.city %>">
                            </div>
                            <div class="form-group">
                                <label for="state">State:</label>
                                <input type="text" class="form-control" id="state" name="state" required value="<%= address.state %>">
                            </div>
                            <div class="form-group">
                                <label for="pincode">Pincode:</label>
                                <input type="number" class="form-control" id="pincode" minlength="6" name="pincode" required value="<%= address.pincode%>"> 
                            </div>
                            <button type="submit" class="btn btn-primary ">Submit</button>
                            <a href="/deleteaddress/<%= address._id %>"><button type="button" class="btn btn-danger" onclick="confirm('Do you want to delete the address?')">Delete</button></a>
                            <% }); %>
                    </form>
                      </div>
                    </div>
                  </div>
                  </div>
              
              
              
                </div>
            </div>
            
            <div class="d-flex justify-content-center align-items-center mt-5">
              <% if ( userData.referal !== "Not created") { %>
               <p>Your Referal Code : <strong><%= userData.referal %></strong></p>
              <% } else { %>
              <a href="/generate-referalcode"><btn class="btn btn-primary">GENRATE REFERAL CODE</btn></a>
              <% } %>
            </div>

           </div>
         </div>
         </div>
         
   
         <footer class="container-fluid  text-white p-5 " style="background-color: rgb(41, 7, 7);">
          <div class="row">
            <div class="col-6 col-md-2 mb-3">
              <h5>Section</h5>
              <ul class="nav flex-column text-white">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">About</a></li>
              </ul>
            </div>
      
            <div class="col-6 col-md-2 mb-3">
              <h5>Section</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">About</a></li>
              </ul>
            </div>
      
            <div class="col-6 col-md-2 mb-3">
              <h5>Section</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">About</a></li>
              </ul>
            </div>
      
            <div class="col-md-5 offset-md-1 mb-3">
              <form>
                <h5>Subscribe to our newsletter</h5>
                <p>Monthly digest of what's new and exciting from us.</p>
                <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                  <label for="newsletter1" class="visually-hidden">Email address</label>
                  <input id="newsletter1" type="text" class="form-control" placeholder="Email address" fdprocessedid="xn0sb">
                  <button class="btn btn-primary" type="button" fdprocessedid="qtzvz">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
      
          <div class="d-flex flex-column flex-sm-row justify-content-between py-4 border-top">
            <p>© 2023 Company, Inc. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
              <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
              <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
              <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
            </ul>
          </div>
        </footer>

 



  <script src="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.17.0/dist/js/bootstrap-icons.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script>
    
    function validateAddress() {
    var inputs = document.getElementsByTagName('input');

    var spaceError = document.getElementById('spaceError');
    spaceError.style.display = 'none'; // Hide error initially

    // Check each input field for leading spaces
    for (var i = 0; i < inputs.length; i++) {
        var inputValue = inputs[i].value.trim(); // Remove leading and trailing whitespaces
        // Check if the input value has leading spaces
        if (inputValue !== '' && inputValue.charAt(0) === ' ') {
            spaceError.style.display = 'block';
            return false; // Return false if any input has leading spaces
        }
    }

    return true; // Form submission allowed if no input has leading spaces
}

  </script>
  </body>
  </html>